# put this on /etc/mysql/

# character settings

[mysqld]
long_query_time=0
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
character-set-server = utf8mb4

[client]
default-character-set = utf8mb4

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/
